:root{
    --sky-blue: #84ada7;
    --dark-green: #4e6e60;
    --grass-green: #81967E;
    --brown: #945A50;
    --cream: #d9d7a1;
    --white: #ffffff;
}

@font-face {
    font-family: 'vt323';
    src: url("../fonts/VT323/VT323-Regular.ttf");
}

@font-face {
    font-family: 'jersey10';
    src: url("../fonts/Jersey_10/");
}

body {
    margin: 0px;
    padding:0px;
    font-family: "vt323", monospace;
}

/*--HEADER START--*/
header {
    background-color:var(--sky-blue);
    padding-top: 5em;
    color: var(--white);
}

.header-div {
    width: 96%;
    display: inline-flex;
    justify-content: space-between;
    padding: 0 2%;
    align-items: flex-end;
    margin-bottom: 10px;
}

h1 {
    margin-top: auto;
    margin-bottom: 0;
    width: auto;
    min-width: 210px;
}

.socials-list {
    margin-top:auto;
    margin-bottom: 0;
}

.sheep-container{
    width: 50%;
    min-width: none;
    margin-bottom: 0;
    position: relative;
}

#header-sheep{
    object-fit: contain;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: -10px;
}

.socials-list li{
    display: inline;
    margin-right: 1rem;
}

.socials-list li:last-child{
    margin: 0;
}

.header-div a{
    text-decoration: none;
    color: var(--white);
}

.socials-list a{
    text-decoration: none;
    color: var(--white);
}
/*--HEADER END--*/

/*--NAVBAR START--*/
.navbar {
    width: 100%;
    padding: 1em 0;
    background-color: var(--dark-green);
    color: var(--white);
}

.navbar-list {
    margin: 0;
    padding: 0 2%;
    text-align: center;
}

.navbar-list li {
    display: inline;
    margin: 0 2%;
}

/* link stylings */
.navbar-list a:link{
    color:var(--white);

}

.navbar-list a:visited{
    color:var(--white)

}

.navbar-list a:hover{
    color:var(--grass-green)
}
/*--NAVBAR END--*/
