:root{
    --sky-blue: #84ada7;
    --dark-green: #4e6e60;
    --grass-green: #81967E;
    --brown: #945A50;
    --cream: #d9d7a1;
    --white: #ffffff;
}

@font-face {
    font-family: 'vt323';
    src: url("/assets/fonts/VT323/VT323-Regular.ttf");
}

body {
    margin: 0px;
    padding:0px;
    font-family: "vt323";
}

header {
    background-color:var(--sky-blue);
    padding-top: 5em;
    color: var(--white);
}

h1 {
    margin: 0;
    width: auto;
}

.header-div {
    width: 96%;
    display: inline-flex;
    justify-content: space-between;
    padding: 0 2%;
}

.navbar {
    width: 100%;
    padding: 1em 0;
    background-color: var(--dark-green);
    color: var(--white);
}

.navbar-list {
    margin: 0;
    padding: 0 2%;
    text-align: center;
}

.navbar-list li {
    display: inline;
    margin: 0 2%;
}

.socials-list li{
    display: inline;
    margin-right: 1rem;
}

.socials-list li:last-child{
    margin: 0;
}