<!--
Homepage for LevelUpFelting
Creator: Ileana Kueber
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Level Up Felting</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../assets/css/main.css"/>
    </head>
    <body>
        <!-- Header -->
        <header>
            <div class="header-div">
                <h1>Level-Up Felting</h1>
                <div class="empty-header"></div>
                <!--Social media links-->
                <ul class="socials-list">
                    <li>Etsy</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                </ul>
            </div>
        </header>
        <!--Navigation Bar-->
        <nav class="navbar">
            <ul class="navbar-list">
                <li><a href="homepage.html">Homepage</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="store.html">Store</a></li>
                <li><a href="commissions.html">Commissions</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
        <main>

        </main>
        <footer></footer>
    </body>
</html>