<!--
Store page for LevelUpFelting
Creator: Ileana Kueber
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Level Up Felting</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../assets/css/main.css"/>
        <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico">
    </head>
    <body>
        <!-- Header -->
        <header>
            <div class="header-div">
                <h1><a href="homepage.html">Level-Up Felting</a></h1>
                <div class="sheep-container">
                    <img src="../assets/images/sheep-header.png" id="header-sheep" alt="pixel art sheep">
                </div>
                <!--Social media links-->
                <ul class="socials-list">
                    <li><a href="https://www.etsy.com/shop/LevelUpFelting" target="_blank">Etsy</a></li>
                    <li><a href="https://www.instagram.com/levelupfelting/" target="_blank">Instagram</a></li>
                </ul>
            </div>
        </header>
        <!--Navigation Bar-->
        <nav class="navbar">
            <ul class="navbar-list">
                <li><a href="homepage.html">Homepage</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="store.html">Store</a></li>
                <li><a href="commissions.html">Commissions</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
        <!--Main Content-->
        <main>
            <div class="main-div">
                <p>This is the store page</p>
            </div>
        </main>
        <!--Footer-->
        <footer></footer>
    </body>
</html>